services:
  db:
    image: mysql:8.0
    container_name: db
    ports:
      - "3306:3306"
    restart: always
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --skip-character-set-client-handshake
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: Application_attendance
      MYSQL_USER: Admin
      MYSQL_PASSWORD: Password
      TZ: Asia/Bangkok
    volumes:
      - db_data:/var/lib/mysql
      - ./db-init:/docker-entrypoint-initdb.d

  php:
    build:
      context: .
      dockerfile: Dockerfile-php
    container_name: php-app
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
    depends_on:
      - db
    restart: always

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: password
    depends_on:
      - db
    restart: always

volumes:
  db_data:
